<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAG_EYYDFpmdIcsPE_-2TTvI5UPXyVS3s</string>
	<key>GCM_SENDER_ID</key>
	<string>335820630559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasea</string>
	<key>PROJECT_ID</key>
	<string>fir-a-fd4f9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-a-fd4f9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335820630559:ios:600a56a64334866dee032a</string>
</dict>
</plist>